@model UserProfileViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile";
}
<h1>User Profile</h1>
<div>
    Bonjour et bienvenue @Model.UserApp.UserName ! 
    @*<a asp-controller="Appointment" asp-action="GetAll" asp-route-userId=@Model.User.Id>Manage my tappointments</a>
    
    *@
    @if (@Model.Appointments.Count() != 0)
    {
        @foreach (var appointment in Model.Appointments)
        {
            <div>
                <h4>@appointment.Title</h4>
                <p>Date du Rendez-vous: @appointment.StartDate</p>
                <a asp-controller="User" asp-action="UpdateAppointmentView" asp-route-apptId=@appointment.Id>Update Appointment</a>
                <a href="javascript:void(0)" onclick="confirmDelete(@appointment.Id)">Delete</a>

            </div>
        }

    }
    else
    {
        <p>Aucun rdv enregistré</p>
    }
    <script>
        function confirmDelete(apptId) {
            if (confirm("Êtes-vous sûr de vouloir supprimer ce rendez-vous ?")) {
                window.location.href = '/User/DeleteAppointment?apptId=' + apptId;
            }
        }
    </script>

    <a asp-controller="User" asp-action="CreateAppointmentView" asp-route-userId=@Model.UserApp.Id>Create</a>
</div>